# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
db.sqlite3
media/
staticfiles/
*.mo
*.pyc
.env

# PostgreSQL dump files
*.sql

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Virtual environment
env/
venv/
ENV/
.env.bak
.env.*

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test cache
.pytest_cache/
.tox/
.nox/

# Migrations (optional - only ignore if you generate them collaboratively or automatically)
# **/migrations/*.py
# **/migrations/__pycache__/

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/

# PyInstaller
*.manifest
*.spec
